#page1{
	background: url(img/font.png);
	width: auto;
}

img{
	max-width: 180px;
	height: auto;

}


#logo_insta{
	 object-fit: contain;
	 max-width: 200px;
	 height: auto;
	
}
input
{
	width: 300px;
	height: 40px;
	background: #fafafa;
	border-style: solid ;border-width: 1px;border-color: #8e8e8e;border-radius: 3px;
	font-size:15px ;

}
#imp{
	font-family: Arial;
	font-weight: lighter;
	color:#ed4956;
	font-size: 11px;
}
.pad{
	padding-top: 3px;
}
#pad1{
		padding-top: 6px;
}
#bouton{

    background-color: #058AE3;
    border-style: none;
    border-radius: 5px;
    color: white;
}



#help
{
	text-align:bottom;
    position:absolute;
    right:10px;
    bottom:10px;
    width: auto;
    max-height: 40;
    color: #0095f6;
}


#all
{ border-style: solid ; border-width: 1px;padding: 5px;max-width: 370px;max-height: 400px; 
	border-color: #DFDDDD;
	display: block;
    margin-left: auto;
    margin-right: auto; 
    background: white;
}
#download{
	font-family: Arial;
	font-weight: lighter;
	color:black;


	
}
#insta_pol{
	
	color: #8e8e8e;
	font-family: Arial;
	font-size: 12px;
	text-align: center;}



#logo_insta2{
	max-width: 300px;
	object-fit: contain;
}
#end_text{
	font-family: Arial;
	font-size: 15px;
	border-style: none;max-width: 375px;

}
#insta_pol2{
	color: #8e8e8e;
	font-family: Arial;
	font-size: 12px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#insta_link{
	color: #0095f6;
}